#* @vtlvariable name="year" type="org.joda.time.DateTime" *#
#* @vtlvariable name="gdpComponent" type="economics.model.GdpComponent" *#
<html>
<head>
    <title>Last Year GDP</title>
    <style type="text/css">
        body {
            background-color: #dddddd;
            font-family: "Helvetica", sans-serif;
        }

        .inputContainer {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            background-color: white;
            margin-bottom: 16px;
            width: 400px;
        }

        .label {
            font-size: 18pt;
            font-weight: 500;
        }

        .BodyTableHeader {
            font-weight: bold;
            font-family: monospace;
            font-size: 18pt;
            padding-left: 23px;
        }

        .cellBody {
            border: 1px aqua;
        }

    </style>
</head>
<body>
<table width="100%" border="0" cellpadding="3" cellspacing="0" class="BodyTable">
    <div class="inputContainer">
        <form action="/calculate" method="post">
            <label class="label" for="inputField"> Date Wanted:
                <input type="text" id="inputField" name="dateWanted"/>
            </label>
            <input type="submit" value="Calculate"/>
        </form>
        <tr>
            <td class="BodyTableHeader">Year</td>
            <td class="BodyTableHeader">US GDP in Billions</td>
        </tr>

        <tr>
            <td class="cellBody">$year</td>
            <td class="cellBody">$gdpComponent.calculate()</td>
        </tr>
    </div>

    <tr>
        <td class="BodyTableHeader">Personal Consumption</td>
        <td class="cellBody">$gdpComponent.getPersonalConsumption()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Business Investments</td>
        <td class="cellBody">$gdpComponent.getBusinessInvestment()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Residential Investments</td>
        <td class="cellBody">$gdpComponent.getResidentialInvestment()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Government Expenditures</td>
        <td class="cellBody">$gdpComponent.getGovernmentExpenditure()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Exports</td>
        <td class="cellBody">$gdpComponent.getExports()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Imports</td>
        <td class="cellBody">$gdpComponent.getImports()</td>
    </tr>
    <tr>
        <td class="BodyTableHeader">Deflators</td>
        <td class="cellBody">$gdpComponent.getDeflator()</td>
    </tr>
</table>
<div class="inputContainer label" >
    GDP = <br/>
    (Personal Consumption + <br/>
    Business Investments + <br/>
    Residential Investments +<br/>
    Government Expenditures +<br/>
    Exports - Imports) <br/>
    * 100 / Deflators
</div>
</body>
</html>